
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Permanent+Marker&display=swap');

*{
    font-family: "Didact Gothic", sans-serif;
    margin: 0%;
    padding: 0%;
}
header{
    background-color:black;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
}
h1{
    
    font-family: "Permanent Marker", cursive;
    color: white;
    text-align: center;
    
}
.gratis{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 18px;
    margin-top: 20px;
    margin-right: 30px;
    vertical-align: middle;
    text-align: center;
}
.envios{
    margin-left: 20px;
}

ul{
list-style-type: none;
display: flex;
justify-content: space-evenly;
padding: 15px;
} 
@media screen and (min-width: 1024px){
    .carro_cel{
        display: none;
    }
}
@media screen and (max-width: 768px){
    ul{
        display: flex;
        flex-direction: column;
    }
    #carro{
        display: none;
    }
}
.inicio, .ofertas, .productos, .contacto ,.carro_cel{
   text-decoration: none;
   color:white;
   font-size: 20px;
   border: none;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.comprar{
    background-color: rgb(6, 6, 7);
    width: 50%;
    height: 10%;
    border-radius: 10px;
    margin-top: 40%;
    margin-bottom: 40%;
    text-decoration: none;
    color: white;
    
}
.zapatillas{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-gap: 2%;
}

.img{
    display: flex;
    justify-content: center;
}
.zapatilla_1, .zapatilla_2, .zapatilla_3, .zapatilla_4, .zapatilla_5, .zapatilla_6 {
    padding-left: 25%;
    border: solid;   
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    padding-right: 30%;
    padding-bottom: 5%;
    text-align: center; 
}
@media screen and (max-width: 768px){
    .zapatilla_1, .zapatilla_2, .zapatilla_3, .zapatilla_4, .zapatilla_5, .zapatilla_6{
        grid-template-columns: 1fr;
        box-sizing: content-box;
    }
}

@media screen and (max-width: 768px) {
    .zapatillas {
        grid-template-columns: 1fr;
        margin-bottom: 80%;
    }
}

.off{
    font-size: 15px;
    background-color: dimgrey;
    color: white;
    border-radius: 5px;
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
    padding: 6px;
} 
.cuotas{
    background-color: black;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 80px;
    height: 60px;
    font-size: large;   
}
@media screen and (max-width: 768px){
    .cuotas{
        padding-bottom: 5%;
        text-align: center;
    }
}
.reseñas{
    display: grid;
    grid-template-columns: 15% 25% 25% 25%;
    justify-content: center;
    grid-gap: 1%;   
    margin: 5%;

}
.estrellas{
display: flex;
flex-direction: row;
}
.reseña-1, .reseña-2, .reseña-3{
    border: solid;
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    max-width: 100%;
    width: 90%;
    padding: 5%;
}
@media screen and (max-width: 768px){
    .reseña-2, .reseña-3{
        display: none;
    } .reseñas{
       display: flex;
       flex-direction: column;
       padding: 0%;
       
    }
}
.mapa{
display: flex;
flex-direction: row;
align-items: center;
margin: 40px;
justify-content: space-evenly;
}
@media screen and (max-width: 768px){
    .mapa{
        display: flex;
        flex-direction: column;
    }
}
.redes{
    margin-right: 5px;
    margin-top: 5px;
}
/* ESTILOS DE LA PAGINA DE CONTACTO*/
#home{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    color: white;
    text-decoration: none;
}
.volver{
    text-decoration: none;
    color: white;
}
.volver:hover{
    color: blue;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
 }

input, textarea{
    margin: 2%;
    padding: 5%;
    border-color:rgb(224, 223, 223);
    border-radius: 2%;
    font-size: 16px;
    width: 30em;
    display: flex;
    justify-content: center;
}
.button{
    margin: 2%;
    padding: 5%;
    border-color:rgb(224, 223, 223);
    border-radius: 2%;
    font-size: 16px;
    width: 33em;
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width: 680px) {
    input, textarea, button {
        font-size: 1.5em;
        background-color: lightgray;
        width: 80%;
        margin: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
    footer{
    text-align: center;
    margin-top: 50px;
}