
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Permanent+Marker&display=swap');

*{
    font-family: "Didact Gothic", sans-serif;
    margin: 0%;
    padding: 0%;
}
header{
    background-color:black;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
}
h1{
    
    font-family: "Permanent Marker", cursive;
    color: white;
    text-align: center;
    
}
.gratis{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 15px;
}
.enviar{
    color: blue;
}

ul{
list-style-type: none;
display: flex;
justify-content: space-evenly;
padding: 15px;
}

.inicio{
   text-decoration: none;
   color:white;
   font-size: 20px;
}
.ofertas{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.productos{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.contacto{
   text-decoration: none;
   color:white;
   font-size: 20px;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.comprar{
    background-color: rgb(6, 6, 7);
    width: 50%;
    height: 10%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}
.zapatillas{
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    grid-gap: 5%;
}
.zapatilla_1 {
    padding-left: 72px;
    border: solid;   
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    padding-right: 30%;
    padding-bottom: 5%;
    text-align: center; 
} 
.zapatilla_2{
    padding-left: 72px;
    border: solid;   
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    padding-right: 30%;
    padding-bottom: 5%;
    text-align: center;
}
.zapatilla_3{
    padding-left: 72px;
    border: solid;
    border-radius: 5%;
    padding-right: 30%;
    border-color: rgb(224, 223, 223);
    padding-bottom: 5%;
    text-align: center;
}
.zapatilla_4{
    padding-left: 72px;
    border: solid;
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    padding-right: 30%;
    padding-bottom: 5%;
    text-align: center;
}
.zapatilla_5{
    padding-left: 72px;
    border: solid;
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    padding-right: 30%;
    padding-bottom: 5%;
    text-align: center;
}
.zapatilla_6{
    padding-left: 72px;
    border: solid;
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    padding-right: 30%;
    padding-bottom: 5%;
    text-align: center;
} 
.off{
    font-size: 15px;
    background-color: dimgrey;
    color: white;
    border-radius: 5px;
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
    padding: 6px;
}  
.reseñas{
    margin: 50px;
    text-align: center;
}
.reseña-1{
   display: flex;
   flex-direction: row;
}
.direccion{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    align-items: center;
} 
.redes{
    padding-right: 20px;
    padding-top: 30px;
    text-align: right;

}
    footer{
    text-align: center;
    margin-top: 50px;
}