
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Permanent+Marker&display=swap');

*{
    font-family: "Didact Gothic", sans-serif;
    margin: 0%;
    padding: 0%;
}
header{
    background-color:black;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
}
h1{
    
    font-family: "Permanent Marker", cursive;
    color: white;
    text-align: center;
    
}
.gratis{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 18px;
    margin-top: 20px;
    margin-right: 30px;
    vertical-align: middle;
    text-align: center;
    

}
.envios{
    margin-left: 20px;
}

ul{
list-style-type: none;
display: flex;
justify-content: space-evenly;
padding: 15px;

}

.inicio{
   text-decoration: none;
   color:white;
   font-size: 20px;
   border: none;
}
.ofertas{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.productos{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.contacto{
   text-decoration: none;
   color:white;
   font-size: 20px;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.comprar{
    background-color: rgb(6, 6, 7);
    width: 50%;
    height: 10%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}
.zapatillas{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-gap: 5%;
}
.img{
    display: flex;
    justify-content: center;
}
.zapatilla_1, .zapatilla_2, .zapatilla_3, .zapatilla_4, .zapatilla_5, .zapatilla_6 {
    padding-left: 25%;
    border: solid;   
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    padding-right: 30%;
    padding-bottom: 5%;
    text-align: center; 
}
.off{
    font-size: 15px;
    background-color: dimgrey;
    color: white;
    border-radius: 5px;
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
    padding: 6px;
} 
.cuotas{
    background-color: black;
    color: white;
    display: flex;
    justify-content:center;
    
    align-items: center;
    margin-top: 80px;
    height: 60px;
    font-size: large;
    
}
.rese単as{
    display: grid;
    grid-template-columns: 15% 25% 25% 25%;
    justify-content: center;
    grid-gap: 1%;   
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.estrellas{
display: flex;
flex-direction: row;
}
.rese単a-1, .rese単a-2, .rese単a-3{
    border: solid;
    border-radius: 5%;
    border-color: rgb(224, 223, 223);
    display: grid;
    padding: 10px 10px;
    
}
.mapa{
display: flex;
flex-direction: row;
align-items: center;
margin: 40px;
justify-content: space-evenly;
}
.redes{
    margin-right: 5px;
    margin-top: 5px;
}
    footer{
    text-align: center;
    margin-top: 50px;
}